*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #f7f7f7;
}

.logo {
  height: 80%;
  display: block;
  margin: auto;
}
/* NAVBAR */
.Navbar {
  background-color: #32cdff;
  box-shadow: 0 3px 5px rgba(0,0,0,.05);
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 30px;
  width: 100%;
  z-index: 9;
  display: flex;
}

.Navbar a {
  display: flex;
  margin-left: 30px;
}

/* HOME */

.profil {
  width: 20%;
  border-radius: 20px;
  overflow: hidden;
}

.profil img{
  width: 100%;
}

.homeContainer{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.homeContainer .containerCard {
  background-color: #FFFFFF;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,.04);
  width: 70%;
}

.allCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.allCards .wrap {
  width: 28%;
  margin: 30px 0;
}

.card {
  display: flex;
  border-radius: 14.5px;
  height: 134px;
  width: 116px;
  box-shadow: 0 1.39759px 4.19277px rgba(0,0,0,.1), 0 4.89157px 0 -1px #fff, 0 4.89157px 4.19277px rgba(0,0,0,.1), 0 8.38554px 0 -1px #fff, 0 8.38554px 4.19277px rgba(0,0,0,.1);
}
.question {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  margin: auto;
  display: flex;
  border-radius: 14.5px;
  height: 323px;
  width: 100%;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.18);
}
.question h3 {
  margin: auto;
}

.response {
  border: 3px solid #98e6ff;
  border-radius: 15px;
  color: #32cdff;
  background-color: #FFFFFF;
  cursor: pointer;
}

.titleQuestion {
  margin: auto;
  width: 90%;
  text-align: center;
}

.card h2 {
  display: block;
  margin: auto;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.lesson {
  width: 80%;
  margin: auto;
  height: 80vh;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
}
.Lesson_Container  {
  width: 38%;
  margin: auto;
}

.Lesson_Container_card {
  width: 40%;
  margin: auto;
}
.cardLesson {
  width: 100%;
  margin: auto;
  cursor: pointer;
  position: relative;
}

.survey {
  display: flex;
  width: 100%;
}
.containerQuestion {
  display: flex;
  justify-content: space-between;
}
.containerQuestion p {
  margin: auto;
  width: 90%;
}
.containerResponse {
  width: 50%;
}
.survey .containerResponse button {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 15px 15px;
  font-size: 20px;
}

.button {
  display: block;
  border: none;
  width: 50%;
  background-color: #32cdff;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  font-weight: 700;
  padding: 10px 0;
  border-radius: 10px;
  margin: 40px auto;
  cursor: pointer;
}

.transition {
  webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.transitionh2 {
  webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.transitionh22 {
  webkit-transform: rotatey(-360deg);
  transform: rotatey(-360deg);
}

.novisible {
  visibility: hidden;
}

.select {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 5%;
  padding: 20px;
}
.select button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 20px 0 20px ;
  cursor: pointer;
  transition: 0.5s;
}

.select button:hover {
  color: #32cdff;
}

.animation {
  animation-duration: 0.5s;
  animation-name: opQuestion;
}

.containerTitleQuestion {
  position: relative;
  height: min-content;
  margin: auto;
}




